<h4 style="margin-top: 15px">{{ author }}</h4>
<h5>Author's details</h5>

<form>
  <div class="row">
    <div class="six columns">
       <label for="idInput">ID</label>
       <input class="u-full-width" id="_id" type="text" value="{{ _id }}" readonly/>
    </div>
    <div class="six columns">
       <label for="nationalityInput">Nationality</label>
       <input class="u-full-width" id="nationality" type="text" value="{{ nationality }}" readonly/>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
       <label for="birthInput">Birth Year</label>
       <input class="u-full-width" id="birth_year" type="text" value="{{ birth_year }}"  readonly/>
    </div>
    <div class="six columns">
       <label for="fieldsInput">Fields</label>
       <input class="u-full-width" id="fields" type="text" value="{{ fields  }}"  readonly/>
    </div>
  </div>
</form>

<h5>Books</h5>
<ul>
{{#books}}
  <li><a href="/bookById/?id={{book_id}}">{{title}}</li>
{{/books}}
</ul>
