<h4 style="margin-top: 15px">{{ cita }}</h4>
<h5>Cita's details</h5>

<form>
  <div class="row">
    <div class="six columns">
       <label for="idInput">ID</label>
       <input class="u-full-width" id="_id" type="text" value="{{ _id }}" readonly/>
    </div>
    <div class="six columns">
       <label for="diaInput">Dia</label>
       <input class="u-full-width" id="dia" type="text" value="{{ dia }}" readonly/>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
       <label for="horaInput">Hora</label>
       <input class="u-full-width" id="hora" type="text" value="{{ hora }}"  readonly/>
    </div>
    <div class="six columns">
       <label for="ubicacionInput">Ubicacion</label>
       <input class="u-full-width" id="ubicacion" type="text" value="{{ ubicacion  }}"  readonly/>
    </div>
  </div>
</form>

<h5>Doctores</h5>
<ul>
{{#doctores}}
  <li><a href="/doctorById/?id={{doctor_id}}">{{nombre}}</li>
{{/doctores}}
</ul>
