<h4 style="margin-top: 15px">{{ nombre }}</h4>
<h5>Detalles de Doctor</h5>
<form>
  <div class="row">
    <div class="six columns">
       <label for="idInput">ID</label>
       <input class="u-full-width" type="text" id="_id" value="{{ _id }}" readonly/>
    </div>
    <div class="six columns">
       <label for="edadInput">Edad</label>
       <input class="u-full-width" type="text" id="edad" value="{{ edad }}" readonly/>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
       <label for="nacionalidadInput">Nacionalidad</label>
       <input class="u-full-width" type="text" id="nacionalidad" value="{{nacionalidad }}" readonly/>
    </div>
    <div class="six columns">
       <label for="especialidadInput">Especialidad</label>
       <input class="u-full-width" type="text" id="especialidad" value="{{ especialidad }}" readonly/>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
       <label for="citaInput">Cita</label>
       <a href="/citaById/?id={{ cita_id }}">
         <input class="u-full-width" type="button" id=" cita" value="{{ cita }}" readonly/>
       </a>
    </div>
    <div class="six columns">
       <label for="pacienteInput">Paciente</label>
       <a href="/pacienteById/?id={{ paciente_id }}">
         <input class="u-full-width" type="button" id="paciente" value="{{ paciente }}" readonly/>
       </a>
    </div>
  </div>
</form>
