<h4 style="margin-top: 15px">{{ paciente }}</h4>

<h5>Detalles de Paciente</h5>
<form>
  <div class="row">
    <div class="six columns">
       <label for="idInput">ID</label>
       <input class="u-full-width" id="_id" type="text" value="{{ _id }}" readonly/>
    </div>
    <div class="six columns">
       <label for="edadInput">Edad</label>
       <input class="u-full-width" id="edad" type="text" value="{{ edad }}" readonly/>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
       <label for="enfermedadInput">Enfermedad</label>
       <input class="u-full-width" id="enfermedad" type="text" value="{{ enfermedad }}"  readonly/>
    </div>
    <div class="six columns">
       <label for="nacionalidadInput">Nacionalidad</label>
       <input class="u-full-width" id="nacionalidad" type="text" value="{{ nacionalidad }}"  readonly/>
    </div>
  </div>
</form>

<h5>Doctores</h5>
<ul>
{{#doctores}}
  <li><a href="/doctorById/?id={{doctor_id}}">{{nombre}}</li>
{{/doctores}}
</ul>
